html,body {
    width: 292px;
    height: 267.156px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    position: relative;
    top: 14px;
    width: 292px;
    height: 267.156px;
    justify-content: center;
}

ol {
    position: relative;
    right: 17px;
}

form {
    position: relative;
    left: 7px;
}

#start {
    float: right;
    position: absolute;
    top: 230px;
    right: 8px;
}

h1 {
    line-height: 1px;
}
